/* style.css */

body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
} 

nav li {
  margin: 5px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

#logo{
  color: rgb(121, 248, 248);
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

h1{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  padding: 150px;
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: rgb(49, 140, 231);
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: rgb(116, 208, 241);
}

a { 
  color: rgb(116, 208, 241);
}

.red {
  color: rgb(116, 208, 241);
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}

/* Mis en forme de la baseline */
#baseline{
  background-image: url("Plage-des-Raisins-Clairs_hero1920x1280.jpg");
  text-align: center;
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

 .feature,.defi{
  border: 1px solid #F2F2F2;
  background: rgb(0, 51, 102);
  margin: 15px;
  padding: 15px;
  text-align: center;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 #apropos{
  margin: 0 auto;
  width: 80%;
  background-color:rgb(116, 208, 241);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#welcome{
  background-color: rgb(119, 181, 254);
  text-align: center;
  padding: 50px;
  color: white;
}

#welcome h4{
 font-size: 52px;
}


